*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	font: 400 16px/1.25 Arial, Tahoma, Verdana, sans-serif;
}


ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.wrapper {
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.container { 
	display: block;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background: #4EA3DB;
}

.top {
	background: #2E6284;
}

.top ul {
	text-align: right;
}
.top li {
	display: inline-block;
	margin: 5px 0 5px 10px;
}

.top a {
	color: #4EA3DB;
}

.top a:hover {
	text-decoration: underline;
}

.logo {
	float: left;
}

.logo a {
	display: inline-block;
	vertical-align: top;
	line-height: 0;
}

.logo img {
	border-radius: 50%;
	max-width: 100px;
	margin: 7px 5px;
}

.search input {
	float: right;
	margin: 30px 0;
}

.search input[type=submit] {
	background: #2E6284;
	border-color: #2E6284;
	border-style: solid;
	padding: 7px;
	border-radius: 0 10px 10px 0;
	border-width: 0;
	text-align: center;
	color: #102939;
}

.search input[type=search] {
	border-color: #2E6284;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px 0 0 10px;
}

.search input[type=submit]:hover {
	cursor: pointer;
}

.search input[type=search]:focus {
	outline: none;
}

.search input[type=submit]:focus {
	outline: none;
}

.search input[type=submit]:active {
	box-shadow: inset 0 0 5px 5px #204E6C;
}

.navigation {
	background: #4EA3DB;
	border-bottom: 2px solid #1E57AE; 
	border-top:  2px solid #1E57AE; 
	height: 40px;
}

.navigation ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	
}

.navigation li {
	margin: 0 10px;
	text-transform: uppercase;
	color: #1E57AE;
	text-align: center;
	line-height: 40px;
}

.navigation li a {
	color: #1E57AE;
	transition: .1s;
	display: block;
	padding: 0 10px;
	height: 38px;
}

.navigation li a:hover {
	border-left: 2px solid #1E57AE;
	border-right: 2px solid #1E57AE;
}

.navigation li a:active {
	background: #1E57AE;
	color: #4EA3DB;
}

.sidebar {
	float: left;
	background: #B2DDF6;
	border-right: 2px solid #1E57AE;
	border-left: 2px solid #1E57AE;
	padding-bottom: 10px;
}

.sidebar h3 {
	text-transform: uppercase;
	text-align: center;
	color: #1E57AE;
	margin: 10px;
}

.sidebar ul {
	text-align: center;
	color: #0F82C4;
}

.sidebar li:last-child {
	border-bottom: 1px dashed #1E57AE; 
}

.sidebar li:nth-child(5) {
	border: none;
}

.sidebar a {
	color: #0F82C4;
	display: block;
}

.sidebar a:hover {
	text-decoration: underline;
}

.bestseller {
	display: flex;
	flex-direction: column;
}

.bestseller img {
	max-width: 175px;
	margin: 7px 5px 0;	
}

.sidebar h5 {
	color: #0F82C4;
	text-align: center;
}

.main-content {
	float: right;
	width: calc(100% - 189px);
	background-image: linear-gradient(to right, #B2DDF6, #87D2E9, #FFFFFF);
	min-height: 869.45px;
	padding-bottom: 10px;
}

.product_1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.product_1 .hotel_corsica {
	position: relative;
}

.product_1 .hotel_corsica img {
	max-width: 400px;
	margin: 25px 25px 0 25px;
	border: solid 1px #234150;

}

.travellers_choice {
	position: absolute;
	width: 64px;
	height: 64px;
	font: 300 12px/1 Arial, Tahoma, Verdana, sans-serif;
	color: #02300A;
	background: #1A892C;
	text-align: center;
	padding: 16px 0;
	border-radius: 100%;
	right: 5px;
	top: 3px;
	border: solid 1px #02300A;
}

.product_1 h2 {
	margin: 25px 0 0 10px;
	color: #234150;
}

.product_1 .characteristics {
	text-align: center;
}

.product_1 .price {
	font: bold 30px/2.5 Arial, Tahoma, Verdana, sans-serif; 
	color: #295064;
	margin: 0 0 0 10px;
}

.characteristics .meal {
	font: bold 20px/2.5 Arial, Tahoma, Verdana, sans-serif;
	color: #295064;
	text-align: left;
	margin: 0 0 0 10px;
}

.meal img {
	max-width: 40px;
}

.meal label {
	display: inline-block;
	height: 40px;
	width: 40px;
}

.characteristics .meal input[type=radio] {
	margin-left: 6px; 
	height: 30px;
}

.meal .hb {
	margin-left: 15px; 
	display: inline;
} 

.meal .hb b {
	color: #000000;
	margin: 5px;
	display: inline-block;
	font-size: 20px;
	vertical-align: super;
}

.characteristics .meal input[type=submit] {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	border: solid 2px #307292;
	background: #307292;
	padding: 7px;
	border-radius: 20px;	
}

.characteristics .meal input[type=submit]:focus {
	outline: none;
}

.characteristics .meal input[type=submit]:hover {
	height: 50px;
	wight: 120px;
	font-size: 25px;
}

.description {
	margin-left: 25px;
}

.description h4 {
	color: #295064;
	margin: 10px 0 5px 0;
	
}

.description p {
	color: #295064;
	text-align: justify;
}

.product_1 .table td {
	padding: 5px 15px 5px 0;
	color: #22657D;
}

.product_1 .table td:first-child {
	text-transform: uppercase;
	font-weight: bold;
}

.product_1 .table tr:nth-child(2n) {
	background: #91D3E4;
}

.services {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-top: 20px;
}

.spa {
	position: relative;
	width: 30%;
}

.spa img {
	border: solid 1px #625608; 
	opacity: 0.6;
}

.spa span {
	position: absolute;
	right: 22px;
	top: 80px;
	font: bold 25px/1.25 Arial, Tahoma, Verdana, sans-serif;
	color: #FFFFFF;
	
}

.restaurant {
	position: relative;
	width: 30%;
}

.restaurant img {
	border: solid 1px #625608; 
	opacity: 0.6;
}

.restaurant span {
	position: absolute;
	right: 1px;
	top: 52px;
	font: bold 25px/1.25 Arial, Tahoma, Verdana, sans-serif;
	color: #FFFFFF;
	text-align: center;
	
}

.shuttle {
	position: relative;
	width: 30%;
}

.shuttle img {
	border: solid 1px #625608; 
	opacity: 0.6;
}

.shuttle span {
	position: absolute;
	right: 30px;
	top: 75px;
	font: bold 25px/1.25 Arial, Tahoma, Verdana, sans-serif;
	color: #FFFFFF;
	text-align: center;
}

.services a {
	display: block;
}

.services a:hover img {
	opacity: 1;
	transition: .5s;
}

.footer {
	background: #4EA3DB;
	border-top: 2px solid #1E57AE;
}

.foot-100 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	line-height: 1.6;
	color: #1E57AE;
	padding: 10px 3px;
}

.foot-100 h4 {
	text-transform: uppercase;
}

.foot-100 a {
	color: #1E57AE;
}

.foot-100 a:hover {
	text-decoration: underline;
}

.links {
	flex-basis: 25%;
}

.contacts {
	flex-basis: 25%;
}

.foot-50 {
	flex-basis: 50%;
	text-align: right;
}



.socials ul {
	margin-top: 10px;
}
.socials li {
	display: inline-block;
	margin: 0 10px;
}

.socials li:first-child {
	margin-left: 0;
}

.socials a {
	border-radius: 20%;
	height: 45px;
	width: 45px;
	display: block;
	text-align: center;
	padding: 6px 1px;
}

.socials img {
	max-width: 32px;
}

.socials a.facebook {
	background: #0C2897;
} 

.socials a.insta {
	background: #AF1C92;
} 

.socials a.twitter {
	background: #1176B0;
} 

.socials a.youtube {
	background: #C01A3B;
} 

.socials a.whatsapp {
	background: #1AC025;
} 

.socials a:hover {
	filter: contrast(500%);
}

.bottom {
	background: #2E6284;
	max-height: 20.7px;
}

.bottom span {
	color: #4EA3DB;
	font: 200 12px/1.5 Arial, Tahoma, Verdana, sans-serif;
	margin-left: 5px;
}






