*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	font: 400 16px/1.25 Arial, Tahoma, Verdana, sans-serif;
}


ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.wrapper {
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.container { 
	display: block;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background: #4EA3DB;
}

.top {
	background: #2E6284;
}

.top ul {
	text-align: right;
}
.top li {
	display: inline-block;
	margin: 5px 0 5px 10px;
}

.top a {
	color: #4EA3DB;
}

.top a:hover {
	text-decoration: underline;
}

.logo {
	float: left;
}

.logo a {
	display: inline-block;
	vertical-align: top;
	line-height: 0;
}

.logo img {
	border-radius: 50%;
	max-width: 100px;
	margin: 7px 5px;
}

.search input {
	float: right;
	margin: 30px 0;
}

.search input[type=submit] {
	background: #2E6284;
	border-color: #2E6284;
	border-style: solid;
	padding: 7px;
	border-radius: 0 10px 10px 0;
	border-width: 0;
	text-align: center;
	color: #102939;
}

.search input[type=search] {
	border-color: #2E6284;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px 0 0 10px;
}

.search input[type=submit]:hover {
	cursor: pointer;
}

.search input[type=search]:focus {
	outline: none;
}

.search input[type=submit]:focus {
	outline: none;
}

.search input[type=submit]:active {
	box-shadow: inset 0 0 5px 5px #204E6C;
}

.navigation {
	background: #4EA3DB;
	border-bottom: 2px solid #1E57AE; 
	border-top:  2px solid #1E57AE; 
	height: 40px;
}

.navigation ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	
}

.navigation li {
	margin: 0 10px;
	text-transform: uppercase;
	color: #1E57AE;
	text-align: center;
	line-height: 40px;
}

.navigation li a {
	color: #1E57AE;
	transition: .1s;
	display: block;
	padding: 0 10px;
	height: 38px;
}

.navigation li a:hover {
	border-left: 2px solid #1E57AE;
	border-right: 2px solid #1E57AE;
}

.navigation li a:active {
	background: #1E57AE;
	color: #4EA3DB;
}

.sidebar {
	float: left;
	background: #B2DDF6;
	border-right: 2px solid #1E57AE;
	border-left: 2px solid #1E57AE;
}

.sidebar h3 {
	text-transform: uppercase;
	text-align: center;
	color: #0C79B7;
	margin: 10px;
}

.sidebar ul {
	text-align: center;
	color: #0F82C4;
}

.sidebar li:last-child {
	border-bottom: 1px dashed #1E57AE; 
}

.sidebar li:nth-child(5) {
	border: none;
}

.sidebar a {
	color: #0F82C4;
	display: block;
}

.sidebar a:hover {
	text-decoration: underline;
}
